

@mixin for_phone_only {
    @media (max-width: 767px) {
        @content;
    }
}


.knowMe{
    margin-top: 100px;
    h2{
        color: var(--basic-white);
        font-size: 45px;
        @include for_phone_only{
            font-size: 37px;
            text-align: center;
        }
    }
    .cardWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-top: 40px;
    }
    @include for_phone_only{
        margin-top: 50px;
    }
}

.card{
    background-color: var(--card-bg);
    aspect-ratio: 1;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10%;
    overflow: hidden;
    h3{
        color: var(--basic-white);
        font-size: 30px;
        @include for_phone_only{
            font-size: 22px;
            text-align: start;
            width: 100%;
            padding:0 15px;
            text-align: center;
        }
    }
    p{
        color: var(--dark-grey);
        font-weight: 400;
        margin-top: 12px;
        padding-bottom: 30px;
        @include for_phone_only{
           display: none;
        }
    }

    @include for_phone_only{
        border-radius: 10px;
    }
}

.card:nth-of-type(1){
    img{
        margin-top: 10px;
    }
}

.card:nth-of-type(3){
    img{
        margin-top: auto;
        width: 80%;
    }
}

@include for_phone_only{
    .card{
        img{
            width: 50%;
            margin-top: auto;
        }
    }
    .card:nth-of-type(1){
        img{
            margin-top: auto;
        }
    }
    .card:nth-of-type(4){
        img{
            margin-top: auto;
            width: 100%;
        }
    }
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;

    p{
        color: var(--medium-grey );
        font-weight: 400;
        margin-top: 5px;
        font-size: 17px;
        line-height: 25px;
        @include for_phone_only{
            margin-top:10px;
            text-align: center;
        }
    }

    .right{
        display: flex;
        .btn{
            margin: auto 0 auto auto;
            display: flex;
            img{
                margin: auto 0;
                height: 20px;
                padding-right: 8px;
            }
        }
    }

    @include for_phone_only{
        grid-template-columns: 1fr;
        .right{
            align-items: center;
            justify-content: center;
            .btn{
                margin-top: 30px;
                margin-left: 0;
            }
        }
    }
    
}