@mixin for_phone_only {
    @media (max-width: 767px) {
        @content;
    }
}


.tech_stack.cardWrapper{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    @include for_phone_only{
        gap: 10px;
        grid-template-columns: repeat(2 , 1fr);
    }

    .single_card{
        background-color: var(--card-bg);
        border-radius: 15px;
        aspect-ratio: 1;
        position: relative;
        border: 1px solid var(--card-border);

        @media (prefers-color-scheme : light) {
            border: 1px solid #d8d8d8;
        }

        @include for_phone_only{
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }


        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            width: 40%;
            @include for_phone_only{
                position: static;
                transform: none;
                margin-top: 15px;
            }
        }

        .footer{
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 13px;
            @include for_phone_only{
                position: static;
                padding-top: 10%;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
            }
            p{
                font-size: 14px;
            }

            small{
                font-weight: 100;
                font-size: 10px;
                color: var(--dark-grey);
                border: 1px solid #252525;
                padding: 3px 5px;
                border-radius : 10px;
                @media (prefers-color-scheme : light) {
                    border: 1px solid #d8d8d8;
                }
            }
        }
    }

    .img_border{
        img{
            border-radius: 10px;
        }
    }

    .preact{
        img{
            width: 35%;
        }
    }

    .bootstrap{
        img{
            width: 50%;
        }
    }

    .single_card.vibrate{
        animation: vibrate .3s;
    }

    @keyframes vibrate {
        10%{
            transform: translateX(2px);
        }
        30%{
            transform: translateX(-2px);
        }
        50%{
            transform: translateX(2px);
        }
        70%{
            transform: translateX(-2px);
        }
        90%{
            transform: translateX(2px);
        }
    }
}

