@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Poppins:ital,wght@1,900&display=swap');
:root {
  --bg-color : #FBFBFB;
  --text-light-gray : #181818;
  --dark-grey : #808080;
  --basic-white : #181818;
  --onyx : #181818;
  --card-bg : #f6f6f6;
  --medium-grey : #80808080;
  --light-grey : #C5C5C5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color : #0D0D0D;
    --text-light-gray : #C5C5C5;
    --basic-white : #FFFFFF;
    --card-bg : #151515;
    --card-border : #383737;
  }
}

.globalContainer{
  padding: 0 15vw;
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
  font-weight: 500;
  margin: 0;
  padding: 0;
  transition: .2s;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}


body {
  background: var(--bg-color);
  background-image: url('/bg-gradient.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(var(--foreground-rgb));
  cursor: url('/cursorsmall.png'),auto;
  overflow-x: hidden;
  position: relative;
}

body::before {
  background-image: url('/bg-gradient.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom: 0px;
  content: "";
  height: 500px; /* Adjust the height as needed for your header */
  left: 0;
  position: absolute;
  right: 0;
  transform: rotate(180deg); /* Rotate the bottom image by 180 degrees */
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.font-regular{
  font-weight: 400;
}

.font-medium{
  font-weight: 500;
}

.font-bold{
  font-weight: 700;
}

.font-extraBold{
  font-weight: 800;
}

.dddBtn{
  background: rgb(26,26,26);
  background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(26,26,26,1) 100%);
  border:0;
  border-radius: 8px;
  box-shadow: inset 0em .2em 3px rgba(218, 218, 218, 0.070) , 0 3px 6px #00000041;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  outline: 0;
  padding: 15px 20px;
  transition: all .2s;
}

.hover_scale{
  cursor: pointer;
  transition: transform .2s;
}

.hover_scale:hover{
  transform: scale(1.02);
}

.footerDivider{
  border: 1px solid #ffffff10;
  margin-top: 80px;
}

@media screen and (prefers-color-scheme : light){
  .footerDivider{
    border: 1px solid #75757510;
  }
}