.banner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 120px;

    h1{
        font-size: 72px;
        color: var(--basic-white);
        font-weight: 800;
        .highlight{
            font-weight: 800;
            color : #808080;
        }
    }
    .subHead{
        color: var(--dark-grey);
        font-size: 20px;
        line-height: 30px;
        padding-top: 45px;
    }

    button{
        border-radius: 8px;
        background-color: var(--onyx);
        padding: 15px 20px;
        outline: 0;
        border:0;
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 40px;
        margin-right: 20px;
        color: var(--dark-grey);
        transition: all .2s;
        cursor: pointer;
    }

    button:hover{
        transform: scale(1.02);
    }

    .right {
        text-align: center;
        img{
            width: 70%
        }
    }
    
    
}
